{% extends "dashboard.html" %}
{% block additem %}{% endblock additem %}
{% block navactivate %}
<a class="nav-link text-white" href="/admin/dashboard/">
  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
    <i class="material-icons opacity-10">table_bar</i>
  </div>
  <span class="nav-link-text ms-1">Booking</span>
</a>
</li>
<li class="nav-item">
<a class="nav-link text-white" href="/admin/menu/">
  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
    <i class="material-icons opacity-10">menu_book</i>
  </div>
  <span class="nav-link-text ms-1">Menu</span>
</a>
</li>
<li class="nav-item">
<a class="nav-link text-white active bg-gradient-primary" href="/admin/contact/">
  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
{% endblock navactivate %}

{% block temp %}<a href="/admin/contact/"><i class="material-icons opacity-10">arrow_back</i></a> Delete Contact{% endblock temp %}

{% block topbody %}
<body>
    <form method="post" action="{% url 'deletecontact' obj.id %}">
    {% csrf_token %}
    <div class="card w-25 ms-4">
        <div class="card-body">
            <h5 class="card-title">Delete Records</h5>
            <hr class="bg-dark">
          <p class="card-text">Are you sure to delete?</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/admin/contact" class="btn btn-link me-md-2">Cancle</a>
            <input type="submit" Name="Confirm" class="btn btn-primary">
          </div>
        </div>
      </div>
    </form>
</body>
{% endblock topbody %}


{% comment %} <div class="modal-content">  {% endcomment %}
    <div class="modal-header">
        <div class="modal-body row">
            <h5 class="modal-title" id="exampleModalLabel">Delete Booking:</h5>
            <p>Are you sure to delete this {{obj}}?
                <div class="row">
                    <div class="input-group input-group-outline d-flex flex-row col-6-lg">
                        <div class="p-2 ms-2">
                            
                        </div>
                        <div class="p-2 ms-2">
                            <input type="submit" Name="Confirm" class="btn btn-link text-dark px-3 mb-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>