{% extends "dashboard.html" %}
{% block temp %}<a href="/admin/dashboard/"><i class="material-icons opacity-10">arrow_back</i></a> Delete Booking {% endblock temp %}
{% block additem %}{% endblock additem %}
{% block topbody %}
<body>
    <form method="post" action="{% url 'deletebook' obj.id %}">
    {% csrf_token %}
    <div class="card w-25 ms-4">
        <div class="card-body">
            <h5 class="card-title">Delete Records</h5>
            <hr class="bg-dark">
          <p class="card-text">{{obj}}, Are you sure to delete?</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/admin/dashboard" class="btn btn-link me-md-2">Cancle</a>
            <input type="submit" Name="Confirm" class="btn btn-primary">
          </div>
        </div>
      </div>
    </form>
</body>
{% endblock topbody %}


{% comment %} <div class="modal-content"> {% endcomment %}
    <div class="modal-header">
        <div class="modal-body row">
            <h5 class="modal-title" id="exampleModalLabel">Delete Booking:</h5>
            <p>Are you sure to delete this {{obj}}?
                <div class="row">
                    <div class="input-group input-group-outline d-flex flex-row col-6-lg">
                        <div class="p-2 ms-2">
                            
                        </div>
                        <div class="p-2 ms-2">
                            <input type="submit" Name="Confirm" class="btn btn-link text-dark px-3 mb-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>